[Unit]
Description=Minecraft Server
Documentation=

Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/{{ ansible_user }}/{{ mc_dir }}
Type=forking

User={{ ansible_user }}
Group={{ ansible_user }}
Nice=5
KillMode=none
SuccessExitStatus=0 1

Restart=on-failure

ExecStartPre=/home/{{ ansible_user }}/{{ mc_dir }}/server update
ExecStart=/home/{{ ansible_user }}/{{ mc_dir }}/server start
ExecStop=/home/{{ ansible_user }}/{{ mc_dir }}/server stop

[Install]
WantedBy=multi-user.target
